---
import Header from "../components/Header.astro";
import Degree from "../components/Degree.astro";
import Work from "../components/Work.astro";
import Section from "../components/Section.astro";
import data from "../data/cv.json";
import "../style.css";

const Strings = {
  work: "Work",
  education: "Education",
};

const { basicInfo, education, languages, work } = data;

const { email, firstName, lastName, placeOfBirth, placeOfResidence, phone, site } =
  basicInfo;
const header = {
  born: `${placeOfBirth.name}, ${placeOfBirth.country}`,
  email,
  languages,
  lives: `${placeOfResidence.name}, ${placeOfResidence.country}`,
  name: `${firstName} ${lastName.split(" ")[0]}`,
  phone,
  site,
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{header.name}</title>
  </head>
  <body>
    <div class="max-w-screen-xl m-auto border border-black p-6 my-4">
      <Header {...header} class="pb-4 mb-4 border-b border-neutral-300" />
      <div class="w-full flex flex-col">
        <Section title={Strings.work} class="w-full">
          <div class="mt-4">
            {
              work.map((workItem, index) => (
                <Work {...workItem} isTop={index < 3} />
              ))
            }
            <div class="rounded-full bg-black w-4 h-4 ml-6" />
          </div>
        </Section>
        <Section title={Strings.education} class="w-full ml-4 mt-6">
          {education.map((degree) => <Degree class="my-4" {...degree} />)}
        </Section>
      </div>
    </div>
  </body>
</html>
