---
const Classes = {
};
const {
  class: rootClass,
  degree,
  institution,
  from,
  status,
  to,
} = Astro.props;
const yearString = from === to ? to : `${from} - ${to}`;
---
<div class={rootClass}>
  <div class="font-bold">{degree} ({yearString})</div>
  <div class="">{institution}</div>
  <div class="">{status}</div>
  </div>
</div>
