---
import type { Language } from "../types";
const Classes = {
  header: "flex flex-col justify-left items-center",
  row: "flex justify-between items-center w-full",
  col: "flex flex-col justify-center items-center",
};
const {
  born,
  class: rootClass,
  email,
  languages,
  lives,
  name,
  phone,
  site,
} = Astro.props;
---

<header class:list={[Classes.header, rootClass]}>
  <h1>{name}</h1>
  <div class={Classes.row}>
    <div class={Classes.col}>
      <p class="text-neutral-700">Lives in {lives}</p>
      <p class="text-neutral-700">From {born}</p>
    </div>
    <div class={Classes.col}>
      <p class="text-neutral-700">{email}</p>
      <p class="text-neutral-700">{phone}</p>
      <p class="text-neutral-700">{site}</p>
    </div>
  </div>
  <ul class="w-full mt-6 flex justify-between">
    {
      languages.map(({ name, proficiency }: Language) => (
        <li class="">
          {name}: {proficiency}
        </li>
      ))
    }
  </ul>
</header>
