---
const Classes = {
  circle: 'border border-black rounded-full h-16 w-16',
  centered: 'flex justify-center items-center',
}
const {
  company,
  description,
  isTop,
  oneSentence,
  position,
  startDate
} = Astro.props;
const date = new Date(startDate);
const startYear = date.getUTCFullYear();
---
<div>
  <div class="w-full flex flex-row justify-start items-center">
    <div class:list={[Classes.circle, Classes.centered, 'shrink-0']}>{startYear}</div>
    <div class="ml-6">
      <h3>{company.url ? (<a href={company.url}>{company.name}</a>) : company.name}</h3>
      <p class="text-neutral-700">{position}</p>
    </div>
  </div>
  <div class="border-l border-black ml-8 px-14 h-20">
    <p>{ isTop ? description : oneSentence }</p>
  </div>
</div>
