@tailwind base;
@tailwind components;
@tailwing utilities;

@layer base {
  h1, h2, h3 {
    @apply font-bold;
  }
  
  h1 {
    @apply text-3xl;
  }
  
  h2 {
    @apply text-2xl;
  }
  
  h3 {
    @apply text-xl;
  }
}
